body {
  background-color: #14213d;
}

p,
h1,
h2,
h3 {
  color: #e5e5e5;
}

.App {
  text-align: center;
}

.header {
  font-size: 48px;
  line-height: 0.5;
  color: #e5e5e5;
  font-weight: 800;
}

.paragraph {
  font-size: 22px;
  color: #e5e5e5;
}

.paragraph p {
  border: 5px solid #fca311;
}

.hidden-word {
  font-size: 32px;
}

.alphabet {
  margin-bottom: 2rem;
}

.alphabet-btn {
  font-size: 1em;
  width: 40px;
  height: 30px;
  padding: 5px;
  margin: 0.15em;
  background-color: #fb8500;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

.letter-space {
  letter-spacing: 5px;
  margin-bottom: 0;
}

.restart {
  font-size: 22px;
  border-radius: 10px;
  color: black;
  padding: 0.5em 0.8em;
  background-color: #fca311;
  margin-bottom: 1em;
  margin: 0.2em;
  font-weight: 600;
}

.game-info {
  font-size: 22px;
  border-radius: 10px;
  color: black;
  padding: 0.5em 0.8em;
  background-color: #fca311;
  margin-bottom: 1em;
  margin: 0.2em;
  font-weight: 600;
}

img {
  width: auto;
  height: 300px;
  margin-top: 1em;
}

.wrong-guesses {
  margin-bottom: 2em;
}

.wrong-guesses h2 {
  margin-bottom: 0.3em;
}

.wrong-guesses h3 {
  margin: 0.3em;
}

#win-dialog {
  background-color: #fca311;
  color: #e5e5e5;
}

#rules-dialog {
  background-color: #fca311;
  color: #e5e5e5;
}

#lose-dialog {
  background-color: #fca311;
  color: #e5e5e5;
}
